@use "./setting/config";

body {
    font-size: 22px;
    color: config.$bg-color;
    font-family: config.$main-font;
    font-weight: config.$bold;
    line-height: 1;
    overflow-x: hidden;

    &.no-scroll {
		height: 100%;
		overflow: hidden;
	}
}

img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}
