@use "../setting/config";
@use "../mixin/mixin";

.feature {
    background-color: config.$main-color;
}

.feature__top {
    background-color: config.$sub-color;
}

.feature__title {
    width:553px;
    margin: 0 auto;
    padding: 116px 0 43px 0;
    transform: translateX(-60px);
    position: relative;

    &::before {
        content: "";
        width: 213px;
        height: 208px;
        background: url(../img/bear__feature.png) no-repeat center center/cover;
        position: absolute;
        right: -23px-213px;
        top: 80px;
    }
}

.feature__inner {
    max-width: 1180px;
    margin: 91px auto 0 auto;
    padding: 0 30px 120px 30px;
}

.feature__point {
    background-color: #FBDFBE;
    border-radius: 12px;
    padding-bottom: 100px;
    margin-top: 80px;

    &:first-child {
        margin-top: 0;
    }

    &.is-second {
        padding-bottom: 104px;
    }
}

.feature__point-head {
    background-color: #2775BD;
    border-radius: 12px 12px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 24px 13px 24px;
}

.feature__point-number {
    font-size: 36px;
    font-family: config.$sub-font;
    font-weight: config.$normal;
    padding-left: 38px;
    position: relative;

    &::before {
        content: "";
        width: 27px;
        height: 23px;
        background: url(../img/feature__triangle.png) no-repeat center center/contain;
        position: absolute;
        top: calc(50% + 2px);
        left: -2px;
        transform: translateY(-50%);
    }
}

.feature__point-content {
    max-width: 980px;
    border-radius: 3px;
    box-shadow: -3px -3px 1 rgb(0, 0, 0, 0.16);
    padding: 0 30px;
    margin: 60px auto 0 auto;
}

.feature__point-title {
    font-size: 45px;
    color: #2775BD;
    line-height: 65px;
    text-align: center;

    span {
        font-size: 28px;
        line-height: 50px;
        display: block;
    }
}

.feature__point-text {
    font-size: 16px;
    color: #231816;
    line-height: 2;
    letter-spacing: 0.64px;
    margin-top: 41px;
}

.feature__point-inside {
    background-color: #FFEFD9;
    border-radius: 3px;
    box-shadow: -3px -3px 1px 0px rgb(0, 0, 0, 0.16);
    padding: 43px 60px;
    margin-top: 60px;
}

.feature__point-inside-text {
    font-size: 18px;
    color: #231816;
    font-weight: config.$extrabold;
    line-height: 32px;
    letter-spacing: 0.72px;
    text-align: center;
}

.feature__point-img {
    margin-top: 27px;

    &.is-second {
        margin-top: 50px;
    }
}