@use "../setting/config";
@use "../mixin/mixin";

.fv {
    background: url(../img/Rectangle71529.png) no-repeat bottom 25px center/cover;
    padding-top: 10px;
    margin-top: 76px;
    position: relative;
    z-index: 2;
}

.fv__top {
    max-width: 1200px;
    margin: 0 auto;
}

.fv__title {
    position: relative;
    z-index: 1;

    @include mixin.mq(pc2) {
        padding: 0 50px;
    }


    &::before {
        content: "";
        width: 90px;
        height: 76px;
        background: url(../img/leaf1.png) no-repeat center center/cover;
        position: absolute;
        top: 35px;
        left: -96px;
        z-index: -1;

        @include mixin.mq(pc2) {
            width: 80px;
            height: 66px;
            top: 25px;
            left: 0px;
        }

        @include mixin.mq(tb) {
            display: none;
        }
    }

    &::after {
        content: "";
        width: 95px;
        height: 112px;
        background: url(../img/leaf2.png) no-repeat center center/contain;
        position: absolute;
        top: 5px;
        right: -95px-10px;
        z-index: -1;

        @include mixin.mq(pc2) {
            width: 85px;
            height: 102px;
            top: -10px;
            right: 0px;
        }

        @include mixin.mq(tb) {
            display: none;
        }
    }
}

.fv__application {
    max-width: 529px;
    margin: -131px auto 0 auto;
    position: relative;

    @include mixin.mq(pc2) {
        width: 430px;
        margin-top: -100px;
    }

    @include mixin.mq(tb) {
        width: 36%;
        margin-top: -80px;
    }

    @include mixin.mq(tb2) {
        margin-top: -50px;
    }

    &::before {
        content: "";
        width: 99px;
        height: 134px;
        background: url(../img/leaf3.png) no-repeat center center/cover;
        position: absolute;
        top: -26px;
        left: -99px-284px;

        @include mixin.mq(pc2) {
            width: 89px;
            height: 114px;
            top: -16px;
            left: -200px;
        }

        @include mixin.mq(tb) {
            display: none;
        }
    }

    &::after {
        content: "";
        width: 84px;
        height: 114px;
        background: url(../img/leaf4.png) no-repeat center center/cover;
        position: absolute;
        top: 7px;
        right: -84px-323px;

        @include mixin.mq(pc2) {
            width: 74px;
            height: 104px;
            top: 70px;
            right: -324px;
        }

        @include mixin.mq(tb) {
            display: none;
        }
    }
}

@media screen and (max-width: 1100px) {
    .fv__application {
        &::after {
            width: 74px;
            height: 104px;
            top: 70px;
            right: -250px;
        }
    }
}

.fv__top-description {
    max-width: 1000px;
    margin: 21px auto 0 auto;
    position: relative;

    &::before {
        content: "";
        width: 182px;
        height: 215px;
        background: url(../img/bear__fv1.png) no-repeat center center/contain;
        position: absolute;
        left: -108px;
        top: 160px;

        @include mixin.mq(pc2) {
            width: 182px;
            height: 215px;
            top: 200px;
            left: -70px;
        }

        @include mixin.mq(tb) {
            display: none;
        }
    }

    &::after {
        content: "";
        width: 339px;
        height: 406px;
        background: url(../img/bear__fv2.png) no-repeat center center/contain;
        position: absolute;
        right: -100px;
        top: 4px;

        @include mixin.mq(pc2) {
            width: 329px;
            height: 396px;
            top: 4px;
            right: -70px;
        }

        @include mixin.mq(tb) {
            width: 230px;
            height: 300px;
            top: 50px;
        }

        @include mixin.mq(tb2) {
            width: 200px;
            height: 270px;
            top: 70px;
        }
    }
}

@media screen and (max-width: 1100px) {
    .fv__top-description {
        &::before {
            @include mixin.mq(pc2) {
                width: 152px;
                height: 185px;
                top: 220px;
                left: -10px;
            }
        }

        &::after {
            width: 270px;
            height: 340px;
            top: 30px;
            right: -10px;
        }

    }
}

@media screen and (max-width: 800px) {
    .fv__top-description {
        &::after {
            width: 270px;
            height: 340px;
            top: 80px;
            right: 10px;
        }

    }
}

@media screen and (max-width: 800px) {
    .fv__top-description {
        &::after {
            width: 270px;
            height: 340px;
            top: 60px;
            right: 10px;
        }

    }
}

@media screen and (max-width: 700px) {
    .fv__top-description {
        &::after {
            width: 330px;
            height: 300px;
            top: 80px;
            right: -56px;
        }
    }
}

.fv__top-question {
    width: 770px;

    @include mixin.mq(pc2) {
        width: 650px;
        margin-left: 100px;
    }

    @include mixin.mq(tb) {
        width: 640px;
        margin-left: 100px;
    }

    @include mixin.mq(tb2) {
        width: 550px;
        margin-left: 100px;
    }
}

@media screen and (max-width: 950px) {
    .fv__top-question {
        width: 580px;
        margin-left: 100px;
    }
}

@media screen and (max-width: 850px) {
    .fv__top-question {
        margin-left: 70px;
    }
}

@media screen and (max-width: 800px) {
    .fv__top-question {
        width: 480px;
    }
}

@media screen and (max-width: 730px) {
    .fv__top-question {
        width: 430px;
    }
}

@media screen and (max-width: 650px) {
    .fv__top-question {
        width: 400px;
    }
}

.fv__top-answer {
    color: config.$text-color;
    line-height: 32px;
    letter-spacing: 0.04em;
    padding-left: 130px;
    margin-top: 26px;

    @include mixin.mq(tb) {
        font-size: 18px;
        line-height: 36px;
    }

    @include mixin.mq(tb2) {
        padding-left: 100px;
    }

    &:first-of-type {
        position: relative;

        &::before {
            content: "";
            width: 71px;
            height: 68px;
            background: url(../img/question.png) no-repeat center center/cover;
            position: absolute;
            top: -4px;
            left: 53px;

            @include mixin.mq(tb) {
                display: none;
            }
        }
    }

    &:last-child {
       line-height: 40px; 
       margin-top: -2px;

       @include mixin.mq(tb) {
        font-size: 18px;
        line-height: 36px;
        margin-top: 0px;
    }
    }
}

@media screen and (max-width: 800px) {
    .fv__top-answer {
        padding-left: 110px;
    }
}

@media screen and (max-width: 650px) {
    .fv__top-answer {
        padding-left: 70px;
    }
}

.fv__top-answer-strong1,
.fv__top-answer-strong2 {
    font-size: 28px;
    color: config.$bg-color;   
    line-height: 34px;
    letter-spacing: 0.04em;
    display: inline-block;
    position: relative;
    z-index: 0;

    @include mixin.mq(tb) {
        font-size: 22px;
        line-height: 28px;
    }
}

.fv__top-answer-strong1 {
    letter-spacing: 0.1em;

    &::before {
        content: "";
        width: calc(100% + 6px);
        height: calc(100% + 3px);
        background-color: #E15833;
        position: absolute;
        top: calc(50% + 1px);
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
}

.fv__top-answer-strong2 {
    &::before {
        content: "";
        width: calc(100% + 8px);
        height: calc(100% + 3px);
        background-color: #E15833;
        position: absolute;
        top: calc(50% + 1px);
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
}

.fv__bottom {
    background: url(../img/Maskgroup.png) no-repeat top center/110% 138%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 52px;
    margin-top: -235px;

    @include mixin.mq(pc2) {
        margin-top: -195px;
    }

    @include mixin.mq(tb) {
        background: url(../img/Maskgroup.png) no-repeat top center/170% 138%;
        margin-top: -225px;
    }
}

.fv__bottom-text {
    line-height: 33px;
    text-align: center;
    padding-top: 342px;

    @include mixin.mq(tb) {
        font-size: 20px;
        line-height: 28px;
    }
}

.fv__button {
    width: 360px;
    height: 73px;
    @include mixin.button(8px);
    border-radius: 36px;
    margin: 32px auto 0 auto;
    transition: 0.3s;

    &:hover {
        box-shadow: none;
        transform: translateY(8px);
    }
}

.fv__wave {
    width: 100%;
    height: 25px;
    background: url(../img/波線.png) no-repeat center center/auto 80%;
    margin-top: -3px;

    @include mixin.mq(tb) {
        background: url(../img/波線.png) no-repeat center center/auto 80%;
    }
}