@use "./setting/config";
@use "./mixin/mixin";

.br__pc2 {
    display: none;
    
    @include mixin.mq(pc2) {
        display: block;
    }
}

.br__tb {
    display: none;
}

@media screen and (max-width: 800px) {
    .br__tb {
        display: block;
    }
}
